<form name="pluginInputForm" id="pluginInputForm">
  <label for="paramTarget">Target:</label>
  <input type="text" id="paramTarget" name="paramTarget" data-paramName="target">
  <label for="paramCount">Count:</label>
  <input type="text" id="paramCount" name="paramCount" data-paramName="count">
  <label for="paramInterval">Interval:</label>
  <input type="text" id="paramInterval" name="paramInterval" data-paramName="interval">
  <input type="submit" id="pluginInputFormSubmit" value="Submit">
</form>
